/*moves title to center*/
.title{
    text-align: center;
}

/*centers searchbox and pushes searchbox down 100 px*/
.searchBox{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*extends box to the right 200 px*/
.box{
    padding-right: 200px;
}

/*creates hover affect*/
.button:hover{
    color: #0033ff;
}

/*bottom image*/
.sideImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
 }